/.env
/venv/
/prova.json
/logs/error.txt
/logs/log.txt
/file/temp/enti.ods
/file/temp/prova.json
/file/temp/prova.xml
/.idea!/file/settings/metadata_schema.json
!/old/
!/logs/report.txt

!/logs/report2.txt
